@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.header,
.footer {
    display: flex;
    justify-content: space-between;
    padding-inline: 1em;
}

.header ul,
.footer ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
}

.header a,
.footer a {
    text-decoration: none;
    color: black;
}

.footer {
    background-color: #eee;
}

.content {
    padding-bottom: 12%;
    width: min(600px, 100vw);
    margin-inline: auto;
}

img {
    width: 100%; /* target width: 600px */
}

.input {
    display: flex;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    margin-bottom: 16px;
    margin-inline: min(100px, 16.67%); /* target width: 400px */
    flex: 1;
    min-width: 0px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
    padding: 0.5rem 1rem;
}
