body {
    background: #eee;
    font-family: sans-serif;
}

.card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
    padding: 8px;
}

.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}
.card > * {
    margin: 8px 0;
    padding: 8px;
}

.title {
    background: #e3f4ff;
    font-size: 1.25rem;
}

.content {
    background: #e3f4ff;
    padding-top: 1em;
    padding-bottom: 1em;
}

.button-container {
    background: #e3f4ff;
    text-align: center;
}

button {
    background: white;
    border: 1px solid #eee;
    display: block;
    margin: 0 auto;
    padding: 0.5em 1.5em;
}
